* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

div.container {
    background-color:  rgb(20, 19, 40);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

div.container-search {
    background-color:  rgb(20, 19, 40);
    width: 700px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}
.container-search {
    margin-left: 700px;
    
}
.container-search a {
    color: white;
    text-transform: uppercase;
}
.container-search a:hover {
    color: red;
    text-transform: uppercase;
}
.search-entry {
    border-radius: 15px;
    margin-left: 10px;
    height: 25px;
}

div.container-nav {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;
}
div.nav {
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 60px;
    word-spacing: 50px;
    margin-top: 40px;
}
div.nav a {
    color: rgb(30, 42, 93);
    text-transform: uppercase;
    font-weight: bold;
}
div.nav a:hover {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
div.logo {
    margin-left: 50px;
}
.fotos {
    width: 100%;
    
}
div.category {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(240, 240, 240);
    height: 350px;
    padding-top: 100px;
}
div.category > h1 {
    color: rgb(30, 42, 93);
}
.product img{
    width: 325px;
    height: 150px;
}
div.service {
    text-align: center;
    margin-top: 20px;
}
div.service img {
    width: 500px;
    height: 325px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px;

}

.latest {
    background-color: rgb(238, 237, 237);
    height: 600px;
    padding-top: 50px;
    text-align: center;
}
.latest h1 {
    /* background-color: salmon; */
    display: flex;
    margin-left: 240px;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(30, 42, 93);
}
.latest1 {
    display: inline;
    margin-left: 30px;
}
.latest1 img {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    margin-top: 80px;
}
.latest1 p {
    font-weight: bold;
    color: rgb(39, 56, 133);;
}
.button {
    background-color: #112769;
    margin-top: 70px;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    padding-top: 10px;
}
.button a {
    color: white;
}
.promosi {
    display: flex;
    justify-content: space-between;
    background-color: #1177c0;
    height: 50px;
    font-size: 20px;
}
.follow {
    color: white;
    text-transform: uppercase;
    margin-left: 250px;
    margin-top: 15px;
} 
.ig {
    margin-right: 220px;
    font-size: 35px;
}
.last {
    display: flex;
    height: 400px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #262626;
    justify-content: space-evenly;
    padding-top: 50px;
    word-spacing: 2px;
    padding-left: 50px;
}
.last a {
    margin-top: 12px;
}
.last h1 {
    margin-top: 12px;
}

.corporate {
    /* background-color: salmon; */
    width: 200px;
    display: flex;
    flex-direction: column;
}
.corporate a {
    color: gray;
}
.corporate h1 {
    color: rgb(255, 255, 255);
}
.products {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
}
.products a {
    color: gray;
}
.products h1{
    color: rgb(255, 255, 255);
}
.dealer {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.dealer a {
    color: gray;
}
.dealer h1 {
    color: rgb(255, 255, 255);
}
.parts {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}
.parts a {
    color: gray;
}
.parts h1 {
    color: rgb(255, 255, 255);
}
.film {
    display: flex;
    flex-direction: column;
    /* background-color: salmon; */
}
.film a {
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.activity {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}
.activity a {
    color: gray;
}
.activity h1 {
    color: white;
}
.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}
.carousel-slide.active {
    display: block;
    animation: slides 1s ease-in-out;
}

@keyframes slides {
    0%, 100% {opacity: 0;}
    10%, 90% {opacity: 1;}
}